body{
    background-color: #0e0e0e;
}
/* this can also be done in html file under html tag under style tag */
.topLink {
    color: gray;
    cursor: pointer;
    padding-left: 7px;
    

}
.topLink:hover{
   color: white;
}
.parent{
    display: flex;
    justify-content:space-between ;
}
.dbutton{
    font-size: 16px;
    font-weight: 600;
    background-color: dodgerblue;
    border-radius: 3px 3px 3px 3px;
    border-style: hidden;
    padding: 8px 16px;
    cursor: pointer;
    transition: background 0.3s;
}
.dbutton:hover{
    background-color: rgb(237, 168, 100);
}
.main{
    
    padding-top: 150;
    padding-left: 200px;

}
h1{
    font-size: 50;
    font-family: Arial, Helvetica, sans-serif;
}
.hero{
    border-radius: 20px;
    background-color: white;
}
.but{
    background-color: dodgerblue;
    padding: 17px 17px 17px 17px;
    margin-bottom: 20px;
    border-style: hidden;
    border-radius: 5px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}
.but:hover{
  background-color: blue;
}
.language {
    color: white;
}
.language .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-flow: dense;
    grid-template-rows: auto 1fr;
    column-gap: 2rem;
}

.language .container p{
    font-size: 16px;
    font-weight: 500;
    line-height: 160%;
    color:#9ba3b4;
}

.language .language_panel{

    display: grid;
    grid-template-columns: max-content 1fr max-content 1fr max-content 1fr;
    align-items: center;
    padding-inline: 2.5rem
}

.language_panel img {
    height: 40px;
    width: auto;
}